In [22]:
import h2o
from h2o.automl import H2OAutoML
import psycopg2
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
def query_into_df(query, cursor):
	"""

	Description: This function loads a SQL query into a pandas DataFrame.

	Parameters:

	table_name (str): A string containing the name of the table to be retrieved;
	cursor (database cursor): A cursor to make a connection with the database.

	"""

	cursor.execute(query)
	result = cursor.fetchall()
	column_names = [desc[0] for desc in cursor.description]

	df = pd.DataFrame(result, columns=column_names)

	return df

In [3]:
def add_suffix_to_duplicates(lst):
    frequency = {}
    result = []
    for item in lst:
        if item in frequency:
            frequency[item] += 1
            item_with_suffix = item + "_dupplicated_" + str(frequency[item])
            result.append(item_with_suffix)
        else:
            frequency[item] = 0
            result.append(item)
    return result

# Example usage
my_list = ['apple', 'orange', 'banana', 'apple', 'apple', 'banana']
suffix = '_dup'
result_list = add_suffix_to_duplicates(my_list,)
print(result_list)

['apple', 'orange', 'banana', 'apple_dupplicated_1', 'apple_dupplicated_2', 'banana_dupplicated_1']

In [4]:
def query_into_h2o(query, cursor):
    """

    Description: This function loads a SQL query into a pandas DataFrame.

    Parameters:

    table_name (str): A string containing the name of the table to be retrieved;
    cursor (database cursor): A cursor to make a connection with the database.

    """

    cursor.execute(query)
    result = cursor.fetchall()

    column_names = [desc[0] for desc in cursor.description]
    column_names = add_suffix_to_duplicates(column_names)

    df = h2o.H2OFrame(result, column_names=column_names)

    return df

In [ ]:
RESULTS_FOLDER = r"..\alternative_economic_data\data\traditional_data\staging_2"

In [5]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.15+8-LTS-149, mixed mode)
  Starting server from C:\Users\user-07\miniconda3\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\user-07\AppData\Local\Temp\tmpzesstxxw
  JVM stdout: C:\Users\user-07\AppData\Local\Temp\tmpzesstxxw\h2o_user_07_started_from_python.out
  JVM stderr: C:\Users\user-07\AppData\Local\Temp\tmpzesstxxw\h2o_user_07_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       America/Sao_Paulo
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.40.0.4
H2O_cluster_version_age:    26 days
H2O_cluster_name:           H2O_from_python_user_07_e5pty3
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.979 Gb
H2O_cluster_total_cores:    0
H2O_cluster_allowed_cores:  0
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.9.5 final
--------------------------  ------------------------------

In [6]:
try:
    db = psycopg2.connect(
        host="aws-california.caclwjj7hnoo.us-east-2.rds.amazonaws.com",
        database="california",
        user="postgres",
        password="24567811"
    )
    cursor = db.cursor()
    print("Connected to the database!")
    
    # Perform database operations here
    
except psycopg2.Error as e:
    print("Error connecting to the database:", e)

Connected to the database!

In [7]:
query_trad_data = "SELECT trad.* " \
                  "FROM traditional_data AS trad"
                 
query_alt_data = "SELECT alt.*, trad.gdp " \
                 "FROM traditional_data AS trad " \
                 "JOIN alternative_data AS alt ON trad.date = alt.date"

query_all_data = "SELECT trad.*, alt.* " \
                 "FROM traditional_data AS trad " \
                 "FULL OUTER JOIN alternative_data AS alt " \
                 "ON trad.date = alt.date"

traditional_data = query_into_h2o(query_trad_data, cursor)
alternative_data = query_into_h2o(query_alt_data, cursor)
all_data = query_into_h2o(query_all_data, cursor)
all_data = all_data.drop("date_dupplicated_1")

db.close() # don't want to kill your finances in aws haha

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [8]:
# sorting data frames 

traditional_data = traditional_data.sort(by='date')
alternative_data = alternative_data.sort(by='date')
all_data = all_data.sort(by='date')


<br>

### Predicting Expenditure and disposable Income 

<br>

Expenditure:

- Remove GDP and disp_inc

Disp Income:

- Remove GDP and expenditure

Create train and test data based on split time and columns to drop

In [9]:
def data_split(split_time, df, drop_from_features, target):
    """
    Description: Splits data into training and test considerind a split date.
    
    Parameters:
        split_time (str): A string with the split date in Y-m-d format;
        df (h2o.H2OFrame): A h2o frame containing the data to be splitted;
        drop_from_features (list): A list containing the features (and the target) to be dropped out of the training step;
        target (str): The name of the target variable;
    
    Returns:
        train (h2o.H2OFrame): The data for train;
        test (h2o.H2OFrame): The data for test;
        features (list): A list of features to predict the target;
        target (str): A string of the target to predicted;
        
    """
    
    split_time = pd.to_datetime(split_time)
    
    train = df[df["date"] <  split_time]
    test = df[df["date"] >=  split_time]
    
    features = train.columns
    features = [feature_col for feature_col in features if feature_col not in drop_from_features]
    
    return train, test, features, target

In [10]:
## Expenditure data

split_date = "2019-01-01"
drop_from_expend = ["gdp", "disposable_income", "expenditure"]

train_expend, test_expend, features_expend, expend = data_split(split_date, traditional_data, drop_from_expend, "expenditure")

# Initializing and training model 

expendt_model = H2OAutoML(max_runtime_secs=10)
expendt_model.train(x=features_expend, y=expend, training_frame=train_expend)

# Predictions  

predictions_expend = expendt_model.predict(test_expend[features_expend])

AutoML progress: |
16:55:49.612: AutoML: XGBoost is not available; skipping it.


16:55:50.459: _min_rows param, The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 56.0.

███████████████████████████████████████████████████████████████| (done) 100%
gbm prediction progress: |███████████████████████████████████████████████████████| (done) 100%

In [11]:
## Disposable Income 

drop_from_disp = ["gdp", "disposable_income", "expenditure"]

train_disp, test_disp, features_disp, disp = data_split(split_date, traditional_data, drop_from_disp, "disposable_income")

# Initializing and training model 

disp_model = H2OAutoML(max_runtime_secs=10)
disp_model.train(x=features_disp, y=disp, training_frame=train_disp)

# Predictions  

predictions_disp = disp_model.predict(test_disp[features_disp])

AutoML progress: |
16:56:01.979: AutoML: XGBoost is not available; skipping it.


16:56:02.262: _min_rows param, The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 56.0.

███████████████████████████████████████████████████████████████| (done) 100%
gbm prediction progress: |███████████████████████████████████████████████████████| (done) 100%

In [12]:
## Traditional Data


drop_from_trad = ["gdp"]

train_trad, test_trad, features_trad, gdp = data_split(split_date, traditional_data, drop_from_trad, "gdp")

# replacing expenditure and tradosable income data in the test 

test_trad["expenditure"] = predictions_expend
test_trad["disposable_income"] = predictions_disp

# Initializing and training model 

trad_model = H2OAutoML(max_runtime_secs=10)
trad_model.train(x=features_trad, y=gdp, training_frame=train_trad)

# Predictions  

predictions_trad = trad_model.predict(test_trad[features_trad])

AutoML progress: |
16:56:13.906: AutoML: XGBoost is not available; skipping it.
16:56:14.125: _min_rows param, The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 56.0.

██████████████████████████████████████████████████████████████████| (done) 100%
gbm prediction progress: |███████████████████████████████████████████████████████| (done) 100%

In [14]:
## Alternative Data


drop_from_alt = ["gdp"]

train_alt, test_alt, features_alt, gdp = data_split(split_date, alternative_data, drop_from_alt, "gdp")


# Initializing and training model 

alt_model = H2OAutoML(max_runtime_secs=10)
alt_model.train(x=features_alt, y=gdp, training_frame=train_alt)

# Predictions  

predictions_alt = alt_model.predict(test_alt[features_alt])

AutoML progress: |
16:56:39.977: AutoML: XGBoost is not available; skipping it.
16:56:39.977: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]
16:56:40.77: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]
16:56:40.77: _min_rows param, The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 56.0.
16:56:40.77: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]


16:56:40.499: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]

█
16:56:40.970: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]

██████
16:56:42.116: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]

███
16:56:43.293: _train param, Dropping unused columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]

██████
16:56:43.403: _train param, Dropping unused columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]
16:56:43.528: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]

██████
16:56:44.532: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]
16:56:45.65: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]
16:56:45.160: _train param, Dropping unused columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]

████████
16:56:45.269: _train param, Dropping unused columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]

████████████████████████████
16:56:49.428: _train param, Dropping unused columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]

█████| (done) 100%

16:56:49.538: _train param, Dropping unused columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]

gbm prediction progress: |███████████████████████████████████████████████████████| (done) 100%

In [15]:
predictions_alt

    predict
-----------
2.69554e+06
2.90775e+06
2.7533e+06
2.84332e+06
2.64756e+06
2.33227e+06
2.37963e+06
2.43005e+06
2.43017e+06
2.47272e+06
[16 rows x 1 column]

In [18]:
## All Data

drop_from_all = ["gdp"]

train_all, test_all, features_all, gdp = data_split(split_date, all_data, drop_from_all, "gdp")

# replacing expenditure and disposable income data in the test 

test_all["expenditure"] = predictions_expend
test_all["disposable_income"] = predictions_disp

# Initializing and training model 

all_model = H2OAutoML(max_runtime_secs=10)
all_model.train(x=features_all, y=gdp, training_frame=train_all)

# Predictions  

predictions_all = all_model.predict(test_all[features_all])

AutoML progress: |
16:58:28.610: AutoML: XGBoost is not available; skipping it.
16:58:28.610: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]
16:58:28.706: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]
16:58:28.706: _min_rows param, The dataset size is too small to split for min_rows=100.0: must have at least 200.0 (weighted) rows, but have only 56.0.
16:58:28.706: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]


16:58:29.285: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]

█
16:58:29.912: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]

██████
16:58:30.854: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]

███████
16:58:32.266: _train param, Dropping unused columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]
16:58:32.391: _train param, Dropping unused columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]
16:58:32.517: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]

█████████████
16:58:33.646: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]
16:58:34.384: _train param, Dropping bad and constant columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]
16:58:34.447: _train param, Dropping unused columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]

█████████
16:58:34.572: _train param, Dropping unused columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]

█████████████████████████
16:58:38.134: _train param, Dropping unused columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]
16:58:38.259: _train param, Dropping unused columns: [mob_workplaces, mob_leisure, mob_groc_pharm, mob_transit, mob_parks, mob_residential]

██| (done) 100%
gbm prediction progress: |███████████████████████████████████████████████████████| (done) 100%

In [44]:
# exporting models metrics and results

def calculate_metrics(actual_frame, predicted_frame):
    """
    Calculate RMSE, MAE, and R-squared metrics.

    Parameters:
        actual_frame (H2OFrame): The actual target values;
        predicted_frame (H2OFrame): The predicted target values.

    Returns:
        dict: Dictionary containing the calculated metrics.
        
    """
    actual_values = actual_frame.as_data_frame().values.flatten()
    predicted_values = predicted_frame.as_data_frame().values.flatten()

    rmse = np.sqrt(mean_squared_error(actual_values, predicted_values))
    mae = mean_absolute_error(actual_values, predicted_values)
    r2 = r2_score(actual_values, predicted_values)

    return {"RMSE": rmse, "MAE": mae, "R-squared": r2}

In [93]:
def display_metrics(models, actual_values, predicted_values):
    """
    Display the performance metrics for each model in a DataFrame.

    Parameters:
    models (list): A list of model names.
    actual_values (H2OFrame): H2OFrame with the actual target values.
    predicted_values (list): A list of H2OFrames with the predicted target values for each model.

    Returns:
    pandas.DataFrame: DataFrame containing the performance metrics for each model.
    """
    
    results = {}
    
    actual_values = [actual_values]
    actual_values = len(models) * actual_values
    
    for model_name, actual, predicted in zip(models, actual_values, predicted_values):
        
        metrics = calculate_metrics(actual, predicted)
        results[model_name] = metrics

    df = pd.DataFrame.from_dict(results, orient='index')
    
    return df

In [95]:
models = ["trad_model", "alt_model", "all_model"]
predictions = [predictions_trad, predictions_alt, predictions_all]
actual_gdp = test_all["gdp"]

models_metrics = display_metrics(models, actual_gdp, predictions)

In [96]:
flattened_dict = {
    "real_gdp": test_all["gdp"].as_data_frame(),
    "trad_predictions": predictions_trad.as_data_frame(),
    "alt_predictions": predictions_alt.as_data_frame(),
    "all_predictions": predictions_all.as_data_frame()
}

prediction_results = pd.concat(flattened_dict.values(), axis=1, keys=flattened_dict.keys())
prediction_results.columns = df.columns.get_level_values(0)

In [97]:
models_metrics

                     RMSE            MAE  R-squared
trad_model  456992.942918  411460.930665  -2.126441
alt_model   810908.480685  725938.103490  -8.844075
all_model   535236.272115  471733.738303  -3.288667

In [98]:
prediction_results.to_csv(index=False)

     real_gdp  trad_predictions  alt_predictions  all_predictions
0   2970816.1      2.860293e+06     2.695538e+06     2.850353e+06
1   3028633.1      2.875415e+06     2.907747e+06     2.921068e+06
2   3062616.7      2.877514e+06     2.753299e+06     2.866119e+06
3   3108710.4      2.876494e+06     2.843319e+06     2.906935e+06
4   3074465.6      2.863346e+06     2.647556e+06     2.880532e+06
5   2812435.1      2.523797e+06     2.332269e+06     2.559647e+06
6   3060840.2      2.751774e+06     2.379633e+06     2.651723e+06
7   3132952.5      2.770401e+06     2.430049e+06     2.673481e+06
8   3225265.8      2.742547e+06     2.430171e+06     2.654312e+06
9   3331416.0      2.832152e+06     2.472724e+06     2.701793e+06
10  3416146.0      2.878226e+06     2.428160e+06     2.786955e+06
11  3520134.9      2.943221e+06     2.406061e+06     2.822670e+06
12  3497723.7      2.939500e+06     2.448009e+06     2.828228e+06
13  3558511.9      2.939596e+06     2.443435e+06     2.828084e+06
14  3634821.3      2.939596e+06     2.460863e+06     2.828977e+06
15  3701354.1      2.939596e+06     2.443002e+06     2.828228e+06