In [1]:
import etl_utils as eu
import os
import pandas as pd

In [8]:
STAGING_2_1 = DATAPATH = r"..\data\traditional_data\staging_2"
STAGING_2_2 = DATAPATH = r"..\data\alternative_data\staging_2"

PROCESSED_1 = DATAPATH = r"..\data\traditional_data\processed"
PROCESSED_2 = DATAPATH = r"..\data\alternative_data\processed"

In [9]:
trad_files = eu.get_csv_files(STAGING_2_1)
alt_files = eu.get_csv_files(STAGING_2_2)

In [10]:
trad_files

['..\\data\\traditional_data\\staging_2\\cali-annual-disposable_income.csv',
 '..\\data\\traditional_data\\staging_2\\cali-annual-expenditure.csv',
 '..\\data\\traditional_data\\staging_2\\cali-annual-minimum_wage.csv',
 '..\\data\\traditional_data\\staging_2\\cali-monthly-employment.csv',
 '..\\data\\traditional_data\\staging_2\\cali-monthly-exports.csv',
 '..\\data\\traditional_data\\staging_2\\cali-monthly-imports.csv',
 '..\\data\\traditional_data\\staging_2\\cali-quarterly-gdp.csv',
 '..\\data\\traditional_data\\staging_2\\cali-quarterly-personal_income.csv']

In [52]:
test = pd.read_csv("..\\data\\traditional_data\\staging_2\\cali-annual-expenditure.csv", sep=";")

In [53]:
test = test.astype(str)

In [54]:
test = eu.transform_to_date(test)

In [57]:
result = test.asfreq("QS")

In [58]:
result

           expenditure
date
1997-01-01    676652.2
1997-04-01         NaN
1997-07-01         NaN
1997-10-01         NaN
1998-01-01    716811.3
...                ...
2020-01-01   1848651.7
2020-04-01         NaN
2020-07-01         NaN
2020-10-01         NaN
2021-01-01   2082806.8

[97 rows x 1 columns]

In [ ]:
for file in trad_files:

    # file specifications
    
    file_name = os.path.basename(file)
    encoding = eu.encoding_detect(file)
    delimeter = eu.detect_delimiter(file)

    # reading and transforming data

    data = pd.read_csv(file, encoding=encoding, delimiter=delimeter)
    data = eu.transform_to_date(data)
    
    quarter = eu.transform_to_quarterly(data, file_name)
    quarter = quarter.query("index >= '2005-01-01' and index <= '2022-10-01'")
    
    # exporting data
    
    quarterly_data = eu.rename_file(file, "quarterly")
    quarterly_data_processed = eu.change_directory(quarterly_data, PROCESSED_1)
    quarter.to_csv(quarterly_data_processed)

In [6]:
for file in alt_files:
    
    # file specifications
    
    file_name = os.path.basename(file)
    encoding = eu.encoding_detect(file)
    delimeter = eu.detect_delimiter(file)
    
    # reading and transforming data

    data = pd.read_csv(file, encoding=encoding, delimiter=delimeter)
    data = eu.transform_to_date(data)
    
    quarter = eu.transform_to_quarterly(data, file_name)
    quarter = quarter.query("index >= '2005-01-01' and index <= '2022-10-01'")
    
    # exporting data
    
    quarterly_data = eu.rename_file(file, "quarterly")
    quarterly_data_processed = eu.change_directory(quarterly_data, PROCESSED_2)
    quarter.to_csv(quarterly_data_processed)