In [1]:
import etl_utils as eu
import os
import pandas as pd

In [2]:
DATAPATH = r"..\data\traditional_data\prod_ready"

In [3]:
csv_files = eu.get_csv_files(DATAPATH)
file_name = os.path.basename(csv_files[0])

In [4]:
encoding = eu.encoding_detect(csv_files[0])
delimeter = eu.detect_delimiter(csv_files[0])

data = pd.read_csv(csv_files[0], encoding=encoding, delimiter=delimeter)

In [5]:
data = eu.transform_to_date(data)

In [8]:
quarter = eu.transform_to_quarterly(data, file_name)
quarter

            STTMINWGCA
DATE
1997-01-01        4.75
1997-04-01        4.75
1997-07-01        4.75
1997-10-01        4.75
1998-01-01        5.15
...                ...
2022-01-01       14.00
2022-04-01       14.00
2022-07-01       14.00
2022-10-01       14.00
2023-01-01       15.50

[105 rows x 1 columns]

In [10]:
quarter = quarter.query("index >= '2005-01-01' and index <= '2022-10-01'")

In [13]:
quarter.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 72 entries, 2005-01-01 to 2022-10-01
Freq: QS-JAN
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   STTMINWGCA  72 non-null     float64
dtypes: float64(1)
memory usage: 1.1 KB